#shout {
  display: none;
}

.shouting {
  background-image: url("https://media.giphy.com/media/13USt1URETlUFG/giphy.gif");
  background-repeat: round;
  background-size: cover;
  font-family: impact;
  color: white;
}

.peaceful {
  background-image: url("https://i.redd.it/d0zksghm0xt11.jpg");
  background-position: center;
}